/*@import url('./background.js'); */
.App {
  background: url('./assets/images/sunset.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  width: min-content;
  min-width: 100%;
}

footer{
  padding: 2px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #eeeeee;
  font-size: small;
  text-align: center;
}

.popular{
  display: flex;
  flex-flow: row nowrap;

}


.App-header {
  background: linear-gradient(rgb(140, 192, 255),rgb(88, 182, 250), rgb(12, 104, 233));
  padding: 25px;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
