
.popular-city{  
    overflow-x: auto;
    display: inline-block;
    flex-flow: row nowrap;

    

  .pop-card{
    background: #333333;
    width: 95%;
    color: #fff;
    border-radius: 20px;
    margin: 1rem;
    min-width: 400px;
    
    .time-header{
        text-align: center;
        display: flex;
        flex-flow:row;
        justify-content: space-evenly;
        border-bottom: #aaa dotted .2px;

        p{
            margin: .5rem auto;

        &:nth-last-child(1){
            border-right: none;
        }

            span{
                display: block;
                font-size: small;
            }

        }

    }

    .card-body{
        display: flex;
        justify-content: space-between;
        padding: .2rem .5rem;

        .city{
            font-size: 1rem;
            // font-weight: 700;
            justify-self: center;
        }
        
        .left-body{
            background: yellowgreen;}
        .main-body{background: purple;}
        .right-body{background: orange;}
        
        
    }
    .footer{
        display: flex;
        flex-direction: row;
        
        .humid-footer{
            display: flex;
            justify-content: space-evenly;
            padding: 0.2rem;
            .prop{
                border-bottom: 1.5px #fff solid;
                border-bottom-width: 50%;
                padding-bottom: .5rem;   
                margin: .2rem;
                
            &:last-child(){
                border-right: none;
            }
        }
            
        }
} 
}

.day{
    background: linear-gradient(rgb(140, 192, 255),rgb(88, 182, 250), rgb(12, 104, 233));
    border: 1px solid rgb(88, 182, 250);
    
}

.night{
    background: linear-gradient( rgba(243, 191, 47, 0.5) 0%, rgba(164,49,34, .85) 100%);
    border: 1px solid rgba(163, 98, 89, 0.85);

}
}