.popular-city{
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 350px;
    flex-wrap: wrap;
    margin: .5rem;

  .pop-card{
    width: 95%;
    color: #fff;
    border-radius: 20px;
    margin: 1rem;

    .header{
        display: flex;
        justify-content: space-between;
        padding: .2rem .5rem;

        .city{
            font-size: 2rem;
            font-weight: 700;
            justify-self: center;
        }
    }
    
    .card-body{
        display: flex;
        justify-content: space-evenly;
        padding: 0.2rem;

        .prop{
            border-bottom: 1.5px #fff solid;
            border-bottom-width: 50%;
            padding-bottom: .5rem;   
            margin: .2rem;
            
        &:last-child(){
            border-right: none;
        }
    }

} 
}

.day{
    background: linear-gradient(rgb(140, 192, 255),rgb(88, 182, 250), rgb(12, 104, 233));
    border: 1px solid rgb(88, 182, 250);
    
}

.night{
    background: linear-gradient( rgba(243, 191, 47, 0.5) 0%, rgba(164,49,34, .85) 100%);
    border: 1px solid rgba(163, 98, 89, 0.85);

}
}